USE [CDMV6]
GO
/****** Object:  StoredProcedure [dbo].[CDM_ICD10CM_META_BUILD]    Script Date: 4/30/2021 11:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CDM_ICD10CM_META_BUILD]
AS
BEGIN

/*
Module:
    CDMV_ICD10CM_META_BUILD

Purpose:
    Build ICD10CM_METADATA tables; for transitive closure and path-based searching
	Copy to relevant DEID databases
	Compute CONCEPT_DIMENSION and MODIFIER_DIMENSION; run FACT_COUNT and check i2b2 counts against sample numbers

Output Tables:
 	ICD10CM_METADATA

Modification History: Developed 20200514 JRC
	20210220 JRC: Modified to develop metadata tables for transitive closure AND/OR path-based search and aggregation
	20210311 JRC: Added code to execute TRC table build, copy new tables to deid and run fact counting and test

Execution history: 20200514 JRC Created SNOMED CT_METADATA table in 4 seconds with 45335K rows 
   plus an additional 7:49 to copy tables to DEID

*/



DECLARE
    @proc_name NVARCHAR(50) = 'CDM_ICD10CM_META_BUILD',
    @table_name NVARCHAR(128) = N'CDMV6.dbo.ICD10CM_METADATA'
DECLARE
    @proc_name_braced NVARCHAR(50) = CDMV6.dbo.BRACE_STRING(@proc_name),
    @proc_build_id BIGINT,
    @proc_row_count BIGINT,
    @row_count BIGINT,
    @sql_string NVARCHAR(MAX),
	@generation_cntr INTEGER,
	@generation_max  INTEGER,
	@snomed_date  DATE,
	@publication_date  DATE,
	@cdm_home VARCHAR(60) = (SELECT DB_ADDRESS FROM HERONLOADER.dbo.DATABASE_MAP WHERE DB_PURPOSE = 'CDM_HOME'),
	@i2b2_development_meta VARCHAR(60) = (SELECT DB_ADDRESS FROM HERONLOADER.dbo.DATABASE_MAP WHERE DB_PURPOSE = 'I2B2_DEVELOPMENT_META'),
	@i2b2_CRC VARCHAR(60) = (SELECT DB_ADDRESS FROM HERONLOADER.dbo.DATABASE_MAP WHERE DB_PURPOSE = 'I2B2_CRC'),
	@i2b2_CRANE VARCHAR(60) = (SELECT DB_ADDRESS FROM HERONLOADER.dbo.DATABASE_MAP WHERE DB_PURPOSE = 'CRANE_SUPERUSERS');

/* ------------------- */
/*     Initialize      */
/* ------------------- */

BEGIN
    EXEC LOG_TABLE_BUILD_START @proc_build_id OUTPUT, @proc_name, @proc_name_braced, '(proc)'
END

/*------------------build a new transitive closure table  ---------------------*/

EXEC CDMV6.dbo.CDM_ICD10CM_TRC_BUILD;


/* --------------------------------------------------------------- */
/*  Create a temporary table of ISA relationships                  */
/*     and of FSNs of all concepts                                 */
/* --------------------------------------------------------------- */

CREATE TABLE #ISAS (SUBTYPE VARCHAR(200) NOT NULL,
        			  SUPERTYPE  VARCHAR(200) NOT NULL,
					  CONSTRAINT PK_ALPHA PRIMARY KEY(SUBTYPE,SUPERTYPE));
  
INSERT into #ISAS with (TABLOCK) 

SELECT C1.C_NAME AS SUBTYPE, C2.C_NAME AS SUPERTYPE
FROM ICD_10_CM.dbo.ICD10CM_CURRENT C1
JOIN (SELECT UID,C_NAME,PARENT_UID   
      FROM ICD_10_CM.dbo.ICD10CM_CURRENT
	  GROUP BY UID,C_NAME,PARENT_UID) C2 ON C2.UID = C1.PARENT_UID
GROUP BY C2.C_NAME,C1.C_NAME
;

CREATE TABLE #TERMS (CONCEPTID VARCHAR(200) NOT NULL,              --REMOVE DUPLICATE FSNS DUE TO SNOMED CT DIALECTS
        			  TERM  VARCHAR(400) NULL,
					  TERM_RECORD_ID UNIQUEIDENTIFIER PRIMARY KEY);

INSERT INTO #TERMS
SELECT C_NAME AS CONCEPTID, CONCAT(C_NAME,':',C_DESC) AS TERM, UID AS TERM_RECORD_ID
FROM ICD_10_CM.dbo.ICD10CM_CURRENT
GROUP BY C_NAME, C_DESC, UID


CREATE TABLE #ROOTS (
  ROOT  VARCHAR(200) NULL,
  BASECODE  VARCHAR(200) NULL,
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

/*                Identify all SNOMED CT root hierarchies to build out                     */

INSERT INTO #ROOTS
VALUES ('','',1,'\i2b2_ICD10CM_DIAGNOSESTRC\','Diagnoses','N','CA',0,'ICD10CM:DIAGNOSIS','','CONCEPT_CD','ICD10CM_TRC','SUPERTYPE_CNCPT','T','=','ICD10CM:DIAGNOSIS','','\i2b2_ICD10CM_DIAGNOSES\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
       ('A00-Z99','A00-Z99',2,'\i2b2_ICD10CM_DIAGNOSESTRC\A00-Z99\','ICD-10-CM 2021 release','N','FA',0,'ICD10CM:A00-Z99','','CONCEPT_CD','ICD10CM_TRC','SUPERTYPE_CNCPT','T','=','ICD10CM:A00-Z99','','','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
       ('','',1,'\i2b2_ICD10CM_DIAGNOSESPATH\','Diagnoses','N','CA',0,'ICD10CM:DIAGNOSIS','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_ICD10CM_DIAGNOSESPATH\','','\i2b2_ICD10CM_DIAGNOSESPATH\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
       ('A00-Z99','A00-Z99',2,'\i2b2_ICD10CM_DIAGNOSESPATH\A00-Z99\','ICD-10-CM 2021 release','N','FA',0,'ICD10CM:A00-Z99','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_ICD10CM_DIAGNOSESPATH\A00-Z99\',CAST(GETDATE() AS VARCHAR(20)),'','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),

       ('','',1,'\MODIFIER\ICD10CM_DIAGNOSESTRC\','Encounter Diagnosis','N','DA',0,'DX|ENC','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESTRC\','','Modifier\Condition','\i2b2_ICD10CM_DIAGNOSESTRC\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   ('','',2,'\MODIFIER\ICD10CM_DIAGNOSESTRC\PRIMARY_DIAGNOSIS\','Primary Encounter Diagnosis','N','RA',0,'DX|ENC:PRIMARY','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESTRC\PRIMARY_DIAGNOSIS\','','Primary encounter diagnosis','\i2b2_ICD10CM_DIAGNOSESTRC\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   ('','',2,'\MODIFIER\ICD10CM_DIAGNOSESTRC\SECONDARY_DIAGNOSIS\','Secondary Encounter Diagnosis','N','RA',0,'DX|ENC:SECONDARY','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESTRC\SECONDARY_DIAGNOSIS\','','Secondary encounter diagnosis','\i2b2_ICD10CM_DIAGNOSESTRC\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),

       ('','',1,'\MODIFIER\ICD10CM_DIAGNOSESPATH\','Encounter Diagnosis','N','DA',0,'DX|ENC','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESPATH\','','Modifier\Condition','\i2b2_ICD10CM_DIAGNOSESPATH\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   ('','',2,'\MODIFIER\ICD10CM_DIAGNOSESPATH\PRIMARY_DIAGNOSIS\','Primary Encounter Diagnosis','N','RA',0,'DX|ENC:PRIMARY','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESPATH\PRIMARY_DIAGNOSIS\','','Primary encounter diagnosis','\i2b2_ICD10CM_DIAGNOSESPATH\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   ('','',2,'\MODIFIER\ICD10CM_DIAGNOSESPATH\SECONDARY_DIAGNOSIS\','Secondary Encounter Diagnosis','N','RA',0,'DX|ENC:SECONDARY','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\ICD10CM_DIAGNOSESPATH\SECONDARY_DIAGNOSIS\','','Secondary encounter diagnosis','\i2b2_ICD10CM_DIAGNOSESPATH\%',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0)
	;


/* ------------------------------------------------- */
/*     Create	ICD10CM_METADATA table               */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */


   IF OBJECT_ID('CDMV6.dbo.ICD10CM_METADATA', 'U') IS NOT NULL DROP TABLE CDMV6.dbo.ICD10CM_METADATA;


CREATE TABLE CDMV6.dbo.ICD10CM_METADATA
(
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

/* ----------------------------------------------- */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */


SET @generation_cntr = 1;
SET @generation_max = (SELECT MAX(C_LEVEL)  
                       FROM ICD_10_CM.dbo.ICD10CM_CURRENT)+1;
  

WHILE 
(@generation_max - @generation_cntr) > 0

BEGIN

INSERT INTO #ROOTS
SELECT RTS.ROOT, 
TRC.SUBTYPE_ICDID AS BASECODE,
RTS.C_HLEVEL+1 AS C_HLEVEL, 
CONCAT(RTS.C_FULLNAME,LTRIM(RTRIM(CONVERT(CHAR,TRC.SUBTYPE_ICDID))),'\') AS C_FULLNAME, 
TRM.TERM AS C_NAME, 
'N' AS C_SYNONYM_CD,
CASE WHEN SCT.SUPERTYPE IS NULL THEN 'LA'
     ELSE 'FA' END AS C_VISUALATTRIBUTES,
0 AS C_TOTALNUM,
CONCAT('ICD10CM:',TRC.SUBTYPE_ICDID) AS C_BASECODE,
RTS.C_METADATAXML,
RTS.C_FACTTABLECOLUMN,
RTS.C_TABLENAME,
RTS.C_COLUMNNAME,
RTS.C_COLUMNDATATYPE,
RTS.C_OPERATOR,
CASE WHEN RTS.C_FULLNAME LIKE '\i2b2_ICD10CM_DIAGNOSESTRC\%' THEN CONCAT('ICD10CM:',LTRIM(RTRIM(CAST(TRC.SUBTYPE_ICDID AS CHAR(30)))))   --202102225 JRC: Modify C_DIMCODE for TRC vs PATH searching
     ELSE RTS.C_FULLNAME END AS C_DIMCODE,
RTS.C_COMMENT,
CONCAT(RTS.C_TOOLTIP,SUBSTRING(LTRIM(RTRIM(CONVERT(CHAR,TRM.TERM))),1,20),'\') AS C_TOOLTIP,
RTS.M_APPLIED_PATH,
RTS.UPDATE_DATE,
RTS.DOWNLOAD_DATE,
RTS.IMPORT_DATE,
RTS.SOURCESYSTEM_CD,
RTS.VALUETYPE_CD,
RTS.M_EXCLUSION_CD,
0 AS FACT_COUNT
FROM #ROOTS RTS
LEFT OUTER JOIN #ISAS ISA ON ISA.SUPERTYPE = RTS.BASECODE
LEFT OUTER JOIN CDMV6.dbo.ICD10CM_TRC TRC ON TRC.SUPERTYPE_ICDID = RTS.ROOT AND TRC.GENERATION = @generation_cntr AND ISA.SUBTYPE = TRC.SUBTYPE_ICDID
LEFT OUTER JOIN #TERMS TRM ON TRM.CONCEPTID = TRC.SUBTYPE_ICDID
LEFT OUTER JOIN (SELECT DISTINCT SUPERTYPE
                 FROM #ISAS) SCT ON SCT.SUPERTYPE = TRC.SUBTYPE_ICDID
WHERE RTS.C_HLEVEL = @generation_cntr+1
AND ISA.SUBTYPE IS NOT NULL
AND TRC.SUBTYPE_ICDID IS NOT NULL;


SET @generation_cntr = @generation_cntr+1;

END

/*       Insert the developed metadata from #ROOTS into ICD10CM_METADATA table   */
   
INSERT INTO CDMV6.dbo.ICD10CM_METADATA WITH (TABLOCK)
(
  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  C_SYNONYM_CD,
  C_VISUALATTRIBUTES,
  C_TOTALNUM,
  C_BASECODE,
  C_METADATAXML,
  C_FACTTABLECOLUMN,
  C_TABLENAME,
  C_COLUMNNAME,
  C_COLUMNDATATYPE,
  C_OPERATOR,
  C_DIMCODE,
  C_COMMENT,
  C_TOOLTIP,
  M_APPLIED_PATH,
  UPDATE_DATE,
  DOWNLOAD_DATE,
  IMPORT_DATE,
  SOURCESYSTEM_CD,
  VALUETYPE_CD,
  M_EXCLUSION_CD,
  FACT_COUNT      
  )
SELECT  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  C_SYNONYM_CD,
  C_VISUALATTRIBUTES,
  C_TOTALNUM,
  C_BASECODE,
  C_METADATAXML,
  C_FACTTABLECOLUMN,
  C_TABLENAME,
  C_COLUMNNAME,
  C_COLUMNDATATYPE,
  C_OPERATOR,
  C_DIMCODE,
  C_COMMENT,
  C_TOOLTIP,
  M_APPLIED_PATH,
  UPDATE_DATE,
  DOWNLOAD_DATE,
  IMPORT_DATE,
  SOURCESYSTEM_CD,
  VALUETYPE_CD,
  M_EXCLUSION_CD,
  FACT_COUNT 
  FROM #ROOTS ;

UPDATE ICD10CM_METADATA  SET C_TOOLTIP = CONCAT(C_BASECODE,';',C_FULLNAME)   --Add ICD-10-CM to tooltip
WHERE C_FULLNAME LIKE '\i2b2_ICD10CM_DIAGNOSES%' AND C_HLEVEL > 1;


SET @publication_date =  (SELECT MAX(PUBLICATION_DATE)
                          FROM ICD_10_CM.dbo.ICD10CM_CURRENT_PROVENANCE);
PRINT @publication_date


INSERT INTO CDMV6.dbo.ICD10CM_METADATA
VALUES (0,'\ICD10CM_PUBLICATION_DATE\',CAST(@publication_date AS VARCHAR(12)),'N','CH',0,'ICD10CM:DIAGNOSIS','','CONCEPT_CD','ICD10CM_TRC','SUPERTYPE_CNCPT','T','=','ICD10CM:DIAGNOSIS','','\i2b2_ICD10CM_DIAGNOSES\','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0)
;
 	    
/*      Copy finished tables to DEID             */    
--TRC tables will be copied to GPRITSQL02.CRANE_CDM and BLUEHERONDATA after deleting any existing tables of those names

PRINT 'Copying TRC tables to DEID';

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''CRANE_CDM.dbo.ICD10CM_TRC'', ''U'') IS NOT NULL DROP TABLE CRANE_CDM.dbo.ICD10CM_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into CRANE_CDM.dbo.ICD10CM_TRC from GPRITSQL01.CDMV6.dbo.ICD10CM_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into CRANE_CDM.dbo.ICD10CM_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.dbo.ICD10CM_TRC with (nolock);';
exec (@sql_string) AT DEID;

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONDATA.dbo.ICD10CM_TRC'', ''U'') IS NOT NULL DROP TABLE BLUEHERONDATA.dbo.ICD10CM_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONDATA.dbo.ICD10CM_TRC from GPRITSQL01.CDMV6.dbo.ICD10CM_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONDATA.dbo.ICD10CM_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.dbo.ICD10CM_TRC with (nolock);';
exec (@sql_string) AT DEID;

--Delete the table ICD10CM_METADATA from DEID.BLUEHERONMETADATA AND COPY THE NEW TABLE FROM CDMV6 to BLUEHERONMETADATA

PRINT 'Copying ICD10CM_METADATA to DEID';

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONMETADATA.dbo.ICD10CM_METADATA'', ''U'') IS NOT NULL DROP TABLE BLUEHERONMETADATA.dbo.ICD10CM_METADATA'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONMETADATA.dbo.ICD10CM_METADATA from GPRITSQL01.CDMV6.dbo.ICD10CM_METADATA;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONMETADATA.dbo.ICD10CM_METADATA WITH (TABLOCK) select * from GPRITSQL01.CDMV6.dbo.ICD10CM_METADATA with (nolock);';
exec (@sql_string) AT DEID;

--load modifier_dimension
--EXEC DEID.blueherondata.dbo.load_modifier_dim 'CRANEUSERSMETA','BLUEHERONDATA'; 

PRINT 'LOAD_MODIFIER_DIM';

SET @sql_string = 'blueherondata.dbo.load_modifier_dim ''BLUEHERONMETADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

--Delete old C_FULLNAMEs from concept_dimension and then load new concept_dimension

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_ICD10CM_DIAGNOSESPATH\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_ICD10CM_DIAGNOSESTRC\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\ICD10CM_PUBLICATION_DATE\%'''
exec (@sql_string) AT DEID;

--load concept-dimension 

PRINT 'LOAD_CONCEPT_DIM';

SET @sql_string = 'BLUEHERONDATA.dbo.load_concept_dim ''BLUEHERONMETADATA.dbo.ICD10CM_METADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

 --run fact counting on the new metadata table                                                                      

 PRINT 'Run FACT_COUNT';

SET @sql_string = 'BLUEHERONDATA.dbo.fact_count ''BLUEHERONMETADATA.dbo.ICD10CM_METADATA'',''ICD10CM_TRC'',''1'''
exec (@sql_string) AT DEID;

--Run validation stats on DEID

PRINT 'Update TABLE_ACCESS with stats for fact counts'

UPDATE DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS SET C_NAME = ( 
SELECT CONCAT('Encounter diagnoses ICD-10-CM [ ',COUNT (*)/1000000,'M facts,', COUNT (DISTINCT PATIENT_NUM)/1000,'K patients]')  --Insert into DEID.BULEUERONMETADATA.dbo.SNOMEDCT_METADATA
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT F
WHERE CONCEPT_CD LIKE 'ICD10CM:%' ) WHERE C_FULLNAME = '\i2b2_ICD10CM_DIAGNOSESTRC\';

UPDATE DEID.CRANEUSERSMETA.dbo.TABLE_ACCESS SET C_NAME = ( SELECT C_NAME FROM DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS WHERE C_FULLNAME = '\i2b2_ICD10CM_DIAGNOSESTRC\' )
 WHERE C_FULLNAME = '\i2b2_ICD10CM_DIAGNOSESTRC\';

/* -------------Run sql stats for validation of FACT COUNTING   ----------------*/

   PRINT 'Running validation counts for Neoplasms chapter of ICD-10-CM on DEID.BLUEHERONDATA'

SELECT CONCAT(TRY_CONVERT(VARCHAR(10),COUNT (*)),' FACTS, ', TRY_CONVERT(VARCHAR(10), COUNT (DISTINCT PATIENT_NUM)),' PATIENTS FOR ICD10CM:C00-D49') AS NEOPLASMS_COUNT
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT
WHERE CONCEPT_CD LIKE 'ICD10CM:%' AND SUBSTRING(CONCEPT_CD,9,20) IN 
(
SELECT DISTINCT SUBTYPE_ICDID
FROM ICD10CM_TRC
WHERE SUPERTYPE_ICDID LIKE 'C00-D49')

/* ------------------- */
/*     Terminate       */
/* ------------------- */

EXEC LOG_TABLE_BUILD_END @proc_build_id, @proc_row_count ;


RETURN 0

END
