USE [CDMV6]
GO
/****** Object:  StoredProcedure [dbo].[CDM_SNOMEDCT_META_BUILD]    Script Date: 4/30/2021 11:54:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CDM_SNOMEDCT_META_BUILD]
AS
BEGIN

/*
Module:
    CDM_SNOMEDCT_META_BUILD

Purpose:
    Build SNOMEDCT_METADATA table, copy to DEID, load modifier_dimension and fact count

Output Tables:
    SNOMEDCT_METADATA

Modification History: Developed 20200514 JRC
   --20210327 JRC: Moved to CDMV6 and modified to run for any CDM version

Execution history: 20200514 JRC Created SNOMEDCT_METADATA table in 23 seconds with 747K rows

*/

DECLARE
    @proc_name NVARCHAR(50) = 'CDM_SNOMEDCT_META_BUILD',
    @table_name NVARCHAR(128) = N'ref.SNOMEDCT_METADATA'
DECLARE
    @proc_name_braced NVARCHAR(50) = dbo.BRACE_STRING(@proc_name),
    @proc_build_id BIGINT,
    @proc_row_count BIGINT,
    @row_count BIGINT,
    @sql_string NVARCHAR(MAX),
	@generation_cntr INTEGER,
	@generation_max  INTEGER,
	@snomed_date  DATE,
	@publication_date  DATE,
	@sql_string2 NVARCHAR(MAX);

END

/* ------------------- */
/*     Initialize      */
/* ------------------- */

BEGIN
    EXEC LOG_TABLE_BUILD_START @proc_build_id OUTPUT, @proc_name, @proc_name_braced, '(proc)'
END

/* --------------------------------------------------------------- */
/*  Create a temporary table of RISA (Reverse IS_A) relationships  */
/*     and of FSNs of all concepts                                 */
/* --------------------------------------------------------------- */

BEGIN

CREATE TABLE #ISAS (SUBTYPE BIGINT NOT NULL,
        			  SUPERTYPE  BIGINT NOT NULL,
					  CONSTRAINT PK_AD PRIMARY KEY(SUBTYPE,SUPERTYPE));
  
INSERT into #ISAS with (TABLOCK) 
SELECT TRY_CONVERT(BIGINT,RL.sourceId) AS SUBTYPE, TRY_CONVERT(BIGINT,RL.destinationId) AS SUPERTYPE 
FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_RELATIONSHIPS RL
WHERE TRY_CONVERT(BIGINT,RL.typeId) = 116680003
AND RL.active = 1 
GROUP BY TRY_CONVERT(BIGINT,RL.destinationId), TRY_CONVERT(BIGINT,RL.sourceId)
;

 CREATE TABLE #TERMDUPS (CONCEPTID BIGINT NOT NULL,
        		         TERM  VARCHAR(2048) NULL,
					     TERM_RECORD_ID BIGINT PRIMARY KEY);


INSERT INTO #TERMDUPS
SELECT TRY_CONVERT(BIGINT,CNCPT.CONCEPTID) AS CONCEPTID, DS1.term, NEXT VALUE FOR COUNTBY1 AS TERM_RECORD_ID
FROM (SELECT DISTINCT CONCEPTID
      FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_DESCRIPTIONS DS
	  WHERE DS.active = '1'
      AND DS.typeId = '900000000000003001') CNCPT
LEFT OUTER JOIN SNOMEDCT.dbo.SNOMEDCT_CURRENT_DESCRIPTIONS DS1 ON CNCPT.conceptId = DS1.conceptId
WHERE DS1.active = '1' 
AND DS1.typeId = '900000000000003001'
;

 CREATE TABLE #TERMS (CONCEPTID BIGINT NOT NULL,              --REMOVE DUPLICATE FSNS DUE TO SNOMED CT DIALECTS
        			  TERM  VARCHAR(2048) NULL,
					  TERM_RECORD_ID BIGINT PRIMARY KEY);

INSERT INTO #TERMS
SELECT T1.CONCEPTID, T2.TERM, T1.TERM_RECORD_ID
FROM (SELECT TR.CONCEPTID, MIN(TR.TERM_RECORD_ID) AS TERM_RECORD_ID
      FROM #TERMDUPS TR
      GROUP BY TR.CONCEPTID) T1 
LEFT OUTER JOIN #TERMDUPS T2 ON T2.TERM_RECORD_ID = T1.TERM_RECORD_ID

CREATE TABLE #ROOTS (
  ROOT  BIGINT NULL,
  BASECODE  BIGINT NULL,
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

/*                Identify all SNOMED CT root hierarchies to build out                     */

INSERT INTO #ROOTS
VALUES ('','',1,'\i2b2_SNOMEDCT_CONDITIONSTRC\','Conditions','N','CA',0,'SNOMEDCT:CONDITION','','CONCEPT_CD','SNOMEDCT_TRC','SUPERTYPE_CNCPT','T','=','SNOMEDCT:CONDITION','','\i2b2_SNOMEDCT_CONDITIONSTRC\','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
       (404684003,404684003,2,'\i2b2_SNOMEDCT_CONDITIONSTRC\404684003\','Clinical finding (finding)','N','FA',0,'SNOMEDCT:404684003','','CONCEPT_CD','SNOMEDCT_TRC','SUPERTYPE_CNCPT','T','=','SNOMEDCT:404684003','','\CONDITIONS\Clinical finding\','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   (272379006,272379006,2,'\i2b2_SNOMEDCT_CONDITIONSTRC\272379006\','Event (event)','N','FA',0,'SNOMEDCT:272379006','','CONCEPT_CD','SNOMEDCT_TRC','SUPERTYPE_CNCPT','T','=','SNOMEDCT:272379006','','\CONDITIONS\Event\','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   (243796009,243796009,2,'\i2b2_SNOMEDCT_CONDITIONSTRC\243796009\','Situation with explicit context (situation)','N','FA',0,'SNOMEDCT:243796009','','CONCEPT_CD','SNOMEDCT_TRC','SUPERTYPE_CNCPT','T','=','SNOMEDCT:243796009','','\CONDITIONS\Situation\','@','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	    ('','',1,'\i2b2_SNOMEDCT_CONDITIONSPATH\','Conditions','N','CA',0,'SNOMEDCT:CONDITION','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_SNOMEDCT_CONDITIONSPATH\','','\i2b2_SNOMEDCT_CONDITIONSPATH\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
       (404684003,404684003,2,'\i2b2_SNOMEDCT_CONDITIONSPATH\404684003\','Clinical finding (finding)','N','FA',0,'SNOMEDCT:404684003','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_SNOMEDCT_CONDITIONSPATH\404684003\','','\i2b2_SNOMEDCT_CONDITIONSPATH\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   (272379006,272379006,2,'\i2b2_SNOMEDCT_CONDITIONSPATH\272379006\','Event (event)','N','FA',0,'SNOMEDCT:272379006','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_SNOMEDCT_CONDITIONSPATH\272379006\','','\i2b2_SNOMEDCT_CONDITIONSPATH\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	   (243796009,243796009,2,'\i2b2_SNOMEDCT_CONDITIONSPATH\243796009\','Situation with explicit context (situation)','N','FA',0,'SNOMEDCT:243796009','','CONCEPT_CD','CONCEPT_DIMENSION','CONCEPT_PATH','T','LIKE','\i2b2_SNOMEDCT_CONDITIONSPATH\243796009\','','\i2b2_SNOMEDCT_CONDITIONSPATH\','@',CAST(GETDATE() AS VARCHAR(20)),'','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	    
		('','',1,'\MODIFIER\CONDITIONS\','Condition','N','DA',0,'COND|','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\','','Modifier\Condition','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	    ('','',2,'\MODIFIER\CONDITIONS\CONDITION_ACTIVE\','Problem list active condition','N','RA',0,'COND|PROB:ACTIVE','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\CONDITION_ACTIVE\','','Active condition','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	    ('','',2,'\MODIFIER\CONDITIONS\CONDITION_RESOLVED\','Problem list resolved condition','N','RA',0,'COND|PROB:RESOLVED','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\CONDITION_RESOLVED\','','Resolved condition','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
	    ('','',2,'\MODIFIER\CONDITIONS\CONDITION_DELETED\','Problem list deleted condition','N','RA',0,'COND|PROB:DELETED','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\CONDITION_DELETED\','','Deleted condition','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
		('','',2,'\MODIFIER\CONDITIONS\PAST_MEDICAL_HISTORY\','Past medical history','N','RA',0,'COND|PMH','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\PAST_MEDICAL_HISTORY\','','Past medical history','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0),
		('','',2,'\MODIFIER\CONDITIONS\ED_CHIEF_COMPLAINT\', 'ED Chief complaint','N','RA',0,'COND|EDCC','','modifier_cd','MODIFIER_DIMENSION','modifier_path','T','LIKE','\MODIFIER\CONDITIONS\ED_CHIEF_COMPLAINT\','','ED Chief complaint','\i2b2_SNOMEDCT_CONDITIONS\%','','','','UNebraskaMC','',CAST(NULL AS VARCHAR(25)),0)

	
/* Check to see if each node in the hierarchy is a LEAF (subtype count = 0) or FOLDER  (subtype count > 0)   */

 CREATE TABLE #SUBTYPE_CT (SUPERTYPE_SCTID BIGINT NOT NULL, SUBTYPE_CT  INTEGER NOT NULL);

 INSERT INTO #SUBTYPE_CT
 SELECT SUPERTYPE_SCTID,(COUNT (*) -1) AS SUBTYPE_CT
 FROM ref.SNOMEDCT_TRC
 GROUP BY SUPERTYPE_SCTID ;

END

/* ----------------------------------------------- */
/*     Create	SNOMEDCT_TRC table                   */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */

BEGIN 

    EXEC DROP_TABLE @table_name

CREATE TABLE ref.SNOMEDCT_METADATA
(
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

END

/* ----------------------------------------------- */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */


SET @generation_cntr = 1;
SET @generation_max = (SELECT MAX(TR.GENERATION)  --13 for Clinical findings today
                       FROM #ROOTS RT
                       JOIN ref.SNOMEDCT_TRC TR ON TR.SUPERTYPE_SCTID = RT.ROOT AND RT.C_HLEVEL = 2)+2 ;

WHILE 
(@generation_max - @generation_cntr) > 0

BEGIN

INSERT INTO #ROOTS
SELECT RTS.ROOT, 
TRC.SUBTYPE_SCTID AS BASECODE,
RTS.C_HLEVEL+1 AS C_HLEVEL, 
CONCAT(RTS.C_FULLNAME,LTRIM(RTRIM(CONVERT(CHAR,TRC.SUBTYPE_SCTID))),'\') AS C_FULLNAME, 
TRM.TERM AS C_NAME, 
'N' AS C_SYNONYM_CD,
CASE WHEN SCT.SUBTYPE_CT = 0 THEN 'LA'
     ELSE 'FA' END AS C_VISUALATTRIBUTES,
0 AS C_TOTALNUM,
CONCAT('SNOMEDCT:',TRC.SUBTYPE_SCTID) AS C_BASECODE,
RTS.C_METADATAXML,
RTS.C_FACTTABLECOLUMN,
RTS.C_TABLENAME,
RTS.C_COLUMNNAME,
RTS.C_COLUMNDATATYPE,
RTS.C_OPERATOR,
CASE WHEN RTS.C_FULLNAME LIKE '\i2b2_SNOMEDCT_CONDITIONSPATH\%' THEN CONCAT(RTS.C_FULLNAME,LTRIM(RTRIM(CONVERT(CHAR,TRC.SUBTYPE_SCTID))),'\')
ELSE CONCAT('SNOMEDCT:',LTRIM(RTRIM(CAST(TRC.SUBTYPE_SCTID AS CHAR(30))))) END AS C_DIMCODE,
RTS.C_COMMENT,
CONCAT(RTS.C_TOOLTIP,SUBSTRING(LTRIM(RTRIM(CONVERT(CHAR,TRM.TERM))),1,20),'\') AS C_TOOLTIP,
RTS.M_APPLIED_PATH,
RTS.UPDATE_DATE,
RTS.DOWNLOAD_DATE,
RTS.IMPORT_DATE,
RTS.SOURCESYSTEM_CD,
RTS.VALUETYPE_CD,
RTS.M_EXCLUSION_CD,
0 AS FACT_COUNT
FROM #ROOTS RTS
LEFT OUTER JOIN #ISAS ISA ON ISA.SUPERTYPE = RTS.BASECODE
LEFT OUTER JOIN ref.SNOMEDCT_TRC TRC ON TRC.SUPERTYPE_SCTID = RTS.ROOT AND TRC.GENERATION = @generation_cntr AND ISA.SUBTYPE = TRC.SUBTYPE_SCTID
LEFT OUTER JOIN #TERMS TRM ON TRM.CONCEPTID = TRC.SUBTYPE_SCTID
LEFT OUTER JOIN #SUBTYPE_CT SCT ON SCT.SUPERTYPE_SCTID = TRC.SUBTYPE_SCTID
WHERE RTS.C_HLEVEL = (@generation_cntr+1)
AND ISA.SUBTYPE IS NOT NULL
AND TRC.SUBTYPE_SCTID IS NOT NULL;


SET @generation_cntr = @generation_cntr+1;

END

/*       Insert the developed metadata from #ROOTS into SNOMEDCT_METADATA table   */

BEGIN
 

  
INSERT INTO ref.SNOMEDCT_METADATA WITH (TABLOCK)
(
  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  C_SYNONYM_CD,
  C_VISUALATTRIBUTES,
  C_TOTALNUM,
  C_BASECODE,
  C_METADATAXML,
  C_FACTTABLECOLUMN,
  C_TABLENAME,
  C_COLUMNNAME,
  C_COLUMNDATATYPE,
  C_OPERATOR,
  C_DIMCODE,
  C_COMMENT,
  C_TOOLTIP,
  M_APPLIED_PATH,
  UPDATE_DATE,
  DOWNLOAD_DATE,
  IMPORT_DATE,
  SOURCESYSTEM_CD,
  VALUETYPE_CD,
  M_EXCLUSION_CD,
  FACT_COUNT      
  )
SELECT  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  C_SYNONYM_CD,
  C_VISUALATTRIBUTES,
  C_TOTALNUM,
  C_BASECODE,
  C_METADATAXML,
  C_FACTTABLECOLUMN,
  C_TABLENAME,
  C_COLUMNNAME,
  C_COLUMNDATATYPE,
  C_OPERATOR,
  C_DIMCODE,
  C_COMMENT,
  C_TOOLTIP,
  M_APPLIED_PATH,
  UPDATE_DATE,
  DOWNLOAD_DATE,
  IMPORT_DATE,
  SOURCESYSTEM_CD,
  VALUETYPE_CD,
  M_EXCLUSION_CD,
  FACT_COUNT 
  FROM #ROOTS 

END

-- Add CONCEPT_CD to the tooltip to display the SNOMED CT code

UPDATE ref.SNOMEDCT_METADATA  SET C_TOOLTIP = CONCAT(C_BASECODE,C_TOOLTIP)
WHERE C_BASECODE LIKE 'SNOMEDCT:[1-9]%';

BEGIN

SET @publication_date =  (SELECT MAX(NEBLEX_PUBLICATION_DATE)
                          FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);
SET @SNOMED_date =  (SELECT MAX(SNOMED_RELEASE_DATE)
                          FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);

END

--      Copy finished tables to DEID                         
 
--TRC tables will be copied to GPRITSQL02.CRANE_CDM and BLUEHERONDATA after deleting any existing tables of those names


PRINT 'Copying TRC tables to DEID';

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''CRANE_CDM.ref.SNOMEDCT_TRC'', ''U'') IS NOT NULL DROP TABLE CRANE_CDM.ref.SNOMEDCT_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into CRANE_CDM.ref.SNOMEDCT_TRC from GPRITSQL01.CDMV6.ref.SNOMEDCT_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into CRANE_CDM.ref.SNOMEDCT_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.SNOMEDCT_TRC with (nolock);';
exec (@sql_string) AT DEID;


-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONDATA.dbo.SNOMEDCT_TRC'', ''U'') IS NOT NULL DROP TABLE BLUEHERONDATA.dbo.SNOMEDCT_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONDATA.dbo.SNOMEDCT_TRC from GPRITSQL01.CDMV6.ref.SNOMEDCT_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONDATA.dbo.SNOMEDCT_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.SNOMEDCT_TRC with (nolock);';
exec (@sql_string) AT DEID;

--Delete the table ICD10CM_METADATA from DEID.BLUEHERONMETADATA AND COPY THE NEW TABLE FROM CDMV6 to BLUEHERONMETADATA


PRINT 'Copying SNOMEDCT_METADATA to DEID';

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA'', ''U'') IS NOT NULL DROP TABLE BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA from GPRITSQL01.CDMV6.ref.SNOMEDCT_METADATA;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.SNOMEDCT_METADATA with (nolock);';
exec (@sql_string) AT DEID;

--load modifier_dimension

PRINT 'LOAD_MODIFIER_DIM';

SET @sql_string = 'blueherondata.dbo.load_modifier_dim ''BLUEHERONMETADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

--Delete old C_FULLNAMEs from concept_dimension and then load new concept_dimension

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_SNOMEDCT_CONDITIONSTRC\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_SNOMEDCT_CONDITIONSPATH\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_SNOMEDCT_CONDITIONS\PROVENANCE\%'''
exec (@sql_string) AT DEID;

--load concept-dimension 

PRINT 'LOAD_CONCEPT_DIM';

SET @sql_string = 'BLUEHERONDATA.dbo.load_concept_dim ''BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

 --run fact counting on the new metadata table                                                                      

 PRINT 'Run FACT_COUNT';

SET @sql_string = 'BLUEHERONDATA.dbo.fact_count ''BLUEHERONMETADATA.dbo.SNOMEDCT_METADATA'',''SNOMEDCT_TRC'',''1'''
exec (@sql_string) AT DEID;

--Run validation stats on DEID

UPDATE DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS SET C_NAME = ( 
SELECT CONCAT('Conditions [ ',COUNT (*)/1000000,'M facts,', COUNT (DISTINCT PATIENT_NUM)/1000,'K patients ]')  --Insert into DEID.BULEUERONMETADATA.dbo.SNOMEDCT_METADATA
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT F
WHERE CONCEPT_CD IN 
(
SELECT DISTINCT CONCEPT_CD
FROM DEID.BLUEHERONDATA.dbo.SNOMEDCT_TRC
WHERE SUPERTYPE_SCTID IN ('404684003','272379006','243796009'))
AND MODIFIER_CD LIKE 'COND|%') WHERE C_FULLNAME = '\i2b2_SNOMEDCT_CONDITIONSTRC\';


UPDATE DEID.CRANEUSERSMETA.dbo.TABLE_ACCESS SET C_NAME = ( SELECT C_NAME FROM DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS WHERE C_FULLNAME = '\i2b2_SNOMEDCT_CONDITIONSTRC\' )
 WHERE C_FULLNAME = '\i2b2_SNOMEDCT_CONDITIONSTRC\';


   PRINT 'Running validation counts for Neoplasms chapter of ICD-10-CM on DEID.BLUEHERONDATA'

SELECT CONCAT(TRY_CONVERT(VARCHAR(10),COUNT (*)),' FACTS, ', TRY_CONVERT(VARCHAR(10), COUNT (DISTINCT PATIENT_NUM)),' PATIENTS FOR 195967001|Asthma(disorder)') AS ASTHMA_COUNT
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT
WHERE CONCEPT_CD LIKE 'SNOMEDCT:%' AND SUBSTRING(CONCEPT_CD,10,20) IN 
(
SELECT DISTINCT SUBTYPE_SCTID
FROM DEID.BLUEHERONDATA.dbo.SNOMEDCT_TRC
WHERE SUPERTYPE_SCTID = '195967001')


/* ------------------- */
/*     Terminate       */
/* ------------------- */

BEGIN
    EXEC LOG_TABLE_BUILD_END @proc_build_id, @proc_row_count

RETURN 0

END
