USE [CDMV6]
GO
/****** Object:  StoredProcedure [dbo].[CDM_OBSERVABLES_META_BUILD]    Script Date: 4/30/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CDM_OBSERVABLES_META_BUILD]
AS
BEGIN

/*
Module:
    CDM_LABS_METADATA_BUILD

Purpose:
    Build LOINC_TRC from OBSERVABLES_TRC and LABS_METADATA table employing LOINC_TRC in folder searches
	Copies LABS_METADATA and LOINC_TRC to DEID, loads the i2b2 ONT cell and runs fact counting.

Output Tables:
   OBSERVABLES_TRC
   LOINC_TRC
   LABS_METADATA

Modification History: Developed 20200514 JRC
20200726 added code to copy TRC and METADATA tables to DEID
20210328 JRC: Moved to CDMV6 and modified code to be version independent

Execution history: 
20200514 JRC Created 
20200928 Modified to add PROVENANCE and all supporting procedures for loading i2b2
20200928 JRC: executed in 14:06 generating LABS_METADATA with 30269 ROWS  and LOINC_TRC with 210561 ROWS
20210330 JRC: build all tables,copy to DEID, build concept dimension, modifier dimension and run fact couting - 13:40 minutes

*/

DECLARE
    @proc_name NVARCHAR(50) = 'CDM_LABS_META_BUILD',
    @table_name NVARCHAR(128) = N'ref.LABS_METADATA'
DECLARE
    @proc_name_braced NVARCHAR(50) = dbo.BRACE_STRING(@proc_name),
    @proc_build_id BIGINT,
    @proc_row_count BIGINT,
    @row_count BIGINT,
    @sql_string NVARCHAR(MAX),
	@generation_cntr INTEGER,
	@generation_max  INTEGER,
	@publication_date  DATE,
	@snomed_date  DATE,
	@loinc_current_version VARCHAR(10);

END

/* ------------------- */
/*     Initialize      */
/* ------------------- */

BEGIN
    EXEC LOG_TABLE_BUILD_START @proc_build_id OUTPUT, @proc_name, @proc_name_braced, '(proc)'
END

/* --------------------------------------------------------------- */
/*  Create a temporary table of RISA (Reverse IS_A) relationships  */
/*     and of FSNs of all concepts                                 */
/* --------------------------------------------------------------- */

BEGIN

CREATE TABLE #ISAS (SUBTYPE VARCHAR(20) NOT NULL,
        			  SUPERTYPE  VARCHAR(20) NOT NULL,
					  CONSTRAINT PK_AD PRIMARY KEY(SUBTYPE,SUPERTYPE));
  
INSERT into #ISAS with (TABLOCK) 
SELECT CAST(RL.sourceId AS VARCHAR(20)) AS SUBTYPE, CAST(RL.destinationId AS VARCHAR(20)) AS SUPERTYPE 
FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_RELATIONSHIPS RL
WHERE RL.typeId = '116680003'
AND RL.active = 1 
GROUP BY CAST(RL.sourceId AS VARCHAR(20)), CAST(RL.destinationId AS VARCHAR(20))
;

 CREATE TABLE #TERMDUPS (CONCEPTID VARCHAR(20) NOT NULL,
        		         TERM  VARCHAR(2048) NULL,
					     TERM_RECORD_ID BIGINT PRIMARY KEY);


INSERT INTO #TERMDUPS
SELECT CAST(CNCPT.CONCEPTID AS VARCHAR(20)) AS CONCEPTID, DS1.term, NEXT VALUE FOR COUNTBY1 AS TERM_RECORD_ID
FROM (SELECT DISTINCT CONCEPTID
      FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_DESCRIPTIONS DS
	  WHERE DS.active = '1'
      AND DS.typeId = '900000000000003001') CNCPT
LEFT OUTER JOIN SNOMEDCT.dbo.SNOMEDCT_CURRENT_DESCRIPTIONS DS1 ON CNCPT.conceptId = DS1.conceptId
WHERE DS1.active = '1' 
AND DS1.typeId = '900000000000003001'
;

 CREATE TABLE #TERMS (CONCEPTID VARCHAR(20) NOT NULL,              --REMOVE DUPLICATE FSNS DUE TO SNOMED CT DIALECTS
        			  TERM  VARCHAR(2048) NULL,
					  TERM_RECORD_ID BIGINT PRIMARY KEY);

INSERT INTO #TERMS
SELECT T1.CONCEPTID, T2.TERM, T1.TERM_RECORD_ID
FROM (SELECT TR.CONCEPTID, MIN(TR.TERM_RECORD_ID) AS TERM_RECORD_ID
      FROM #TERMDUPS TR
      GROUP BY TR.CONCEPTID) T1 
LEFT OUTER JOIN #TERMDUPS T2 ON T2.TERM_RECORD_ID = T1.TERM_RECORD_ID

/*  Extract LOINC mappings from RF2 release                   */
--DROP TABLE #LOINC_MAPS

--CREATE TABLE #LOINC_MAPS (SCTID  VARCHAR(20) NOT NULL, TERM VARCHAR(2048) NULL, LOINC_CODE  VARCHAR(20) NOT NULL, LOINC_TERM  VARCHAR(2048));

SELECT CAST(O.SUBTYPE_SCTID AS VARCHAR(20)) AS SCTID, MAX(O.SUBTYPE_TERM) AS TERM, MAX(M.MAPTARGET) AS LOINC_CODE, MAX(L.LONG_COMMON_NAME) AS LOINC_TERM
INTO #LOINC_MAPS
FROM ref.SNOMEDCT_TRC O 
LEFT OUTER JOIN SNOMEDCT.dbo.SNOMEDCT_CURRENT_SIMPLE_MAP M ON M.referencedComponentId = CONVERT(VARCHAR(40),O.SUBTYPE_SCTID)
LEFT OUTER JOIN LOINC.dbo.LOINC_CURRENT L ON L.LOINC_NUM = LTRIM(RTRIM(M.mapTarget))
WHERE M.ACTIVE = 1	
AND M.MAPTARGET LIKE '[1-9][0-9]%-[0-9]'
GROUP BY O.SUBTYPE_SCTID;

/*           Seed the LABS_METADATA table with the root concepts we want to extract from the RF2          */

CREATE TABLE #ROOTS (
  ROOT  VARCHAR(20) NULL,
  BASECODE  VARCHAR(20) NULL,
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

/*                Identify all SNOMED CT root hierarchies to build out                                    */
/*                Use transitive closure search on LOINC_TRC table to be built later in this procedure    */



/* Check to see if each node in the hierarchy is a LEAF (subtype count = 0) or FOLDER  (subtype count > 0)   */

 CREATE TABLE #SUBTYPE_CT (SUPERTYPE_SCTID VARCHAR(20) NOT NULL, SUBTYPE_CT  INTEGER NOT NULL);

 INSERT INTO #SUBTYPE_CT
 SELECT SUPERTYPE_SCTID,(COUNT (*) -1) AS SUBTYPE_CT
 FROM CDMV5.dbo.OBSERVABLES_TRC
 GROUP BY SUPERTYPE_SCTID ;

END

/* ------------------------------------------------- */
/*     Create	LABS_METADATA table                  */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */

BEGIN 

    EXEC DROP_TABLE @table_name

CREATE TABLE ref.LABS_METADATA
(
  C_HLEVEL  NUMERIC(22,0) NOT NULL,
  C_FULLNAME  VARCHAR(700) NOT NULL,
  C_NAME  VARCHAR(2000) NOT NULL,
  C_SYNONYM_CD  CHAR(1) NOT NULL,
  C_VISUALATTRIBUTES  CHAR(3) NOT NULL,
  C_TOTALNUM  NUMERIC(22,0) NULL,
  C_BASECODE  VARCHAR(50) NULL,
  C_METADATAXML  VARCHAR(MAX) NULL,
  C_FACTTABLECOLUMN  VARCHAR(50) NOT NULL,
  C_TABLENAME  VARCHAR(50) NOT NULL,
  C_COLUMNNAME  VARCHAR(50) NOT NULL,
  C_COLUMNDATATYPE  VARCHAR(50) NOT NULL,
  C_OPERATOR  VARCHAR(10) NOT NULL,
  C_DIMCODE  VARCHAR(700) NOT NULL,
  C_COMMENT  VARCHAR(MAX) NULL,
  C_TOOLTIP  VARCHAR(900) NULL,
  M_APPLIED_PATH  VARCHAR(700) NOT NULL,
  UPDATE_DATE DATETIME2(0) NULL,
  DOWNLOAD_DATE  DATETIME2(0) NULL,
  IMPORT_DATE DATETIME2(0) NULL,
  SOURCESYSTEM_CD  VARCHAR(50) NULL,
  VALUETYPE_CD  VARCHAR(50) NULL,
  M_EXCLUSION_CD  VARCHAR(25) NULL,
  FACT_COUNT  NUMERIC(38,0) NULL
);

END

/* ----------------------------------------------- */
/*   Build temp table in #ROOTS and copy             */
/* ------------------------------------------------- */


SET @generation_cntr = 1;
SET @generation_max = (SELECT MAX(TR.GENERATION)  --13 for Clinical findings today
                       FROM #ROOTS RT
                       JOIN CDMV5.dbo.OBSERVABLES_TRC TR ON TR.SUPERTYPE_SCTID = RT.ROOT AND RT.C_HLEVEL = 2)+2 ;

WHILE 
(@generation_max - @generation_cntr) > 0

BEGIN

INSERT INTO #ROOTS
SELECT RTS.ROOT, 
TRC.SUBTYPE_SCTID AS BASECODE,
RTS.C_HLEVEL+1 AS C_HLEVEL, 
CONCAT(RTS.C_FULLNAME,LTRIM(RTRIM(CONVERT(CHAR,TRC.SUBTYPE_SCTID))),'\') AS C_FULLNAME, 
CASE WHEN LC.LOINC_TERM IS NOT NULL THEN REPLACE(REPLACE(LC.LOINC_TERM,'[','-'),']','-')
     ELSE TRM.TERM END AS C_NAME, 
'N' AS C_SYNONYM_CD,
CASE WHEN SCT.SUBTYPE_CT = 0 THEN 'LA'
     ELSE 'FA' END AS C_VISUALATTRIBUTES,
0 AS C_TOTALNUM,
CASE WHEN LC.LOINC_CODE IS NOT NULL THEN CONCAT('LOINC:',LC.LOINC_CODE)
     ELSE CONCAT('SNOMEDCT:',CAST(TRC.SUBTYPE_SCTID AS CHAR(20))) END AS C_BASECODE,
RTS.C_METADATAXML,
RTS.C_FACTTABLECOLUMN,
RTS.C_TABLENAME,
RTS.C_COLUMNNAME,
RTS.C_COLUMNDATATYPE,
RTS.C_OPERATOR,
CASE WHEN RTS.C_FULLNAME LIKE '\i2b2_LAB_RESULTSPATH\%' AND LC.LOINC_CODE IS NOT NULL THEN CONCAT(RTS.C_FULLNAME,SUBSTRING(LC.LOINC_CODE,7,15),'\')
     WHEN RTS.C_FULLNAME LIKE '\i2b2_LAB_RESULTSPATH\%' THEN CONCAT(RTS.C_FULLNAME,LTRIM(RTRIM(CONVERT(CHAR,TRC.SUBTYPE_SCTID))),'\')
	 WHEN RTS.C_FULLNAME LIKE '\i2b2_LAB_RESULTSTRC\%' AND LC.LOINC_CODE IS NOT NULL THEN CONCAT('LOINC:',LC.LOINC_CODE)
     ELSE CONCAT('SNOMEDCT:',CAST(TRC.SUBTYPE_SCTID AS CHAR(20))) END AS C_DIMCODE,
RTS.C_COMMENT,
CONCAT(RTS.C_TOOLTIP,SUBSTRING(LTRIM(RTRIM(CONVERT(CHAR,CASE WHEN LC.LOINC_TERM IS NOT NULL THEN LC.LOINC_TERM
                                                             ELSE TRM.TERM END))),1,40),'\') AS C_TOOLTIP,
RTS.M_APPLIED_PATH,
RTS.UPDATE_DATE,
RTS.DOWNLOAD_DATE,
RTS.IMPORT_DATE,
RTS.SOURCESYSTEM_CD,
RTS.VALUETYPE_CD,
RTS.M_EXCLUSION_CD,
0 AS FACT_COUNT
FROM #ROOTS RTS
LEFT OUTER JOIN #ISAS ISA ON ISA.SUPERTYPE = RTS.BASECODE
LEFT OUTER JOIN CDMV5.dbo.OBSERVABLES_TRC TRC ON CAST(TRC.SUPERTYPE_SCTID AS VARCHAR(20)) = RTS.ROOT AND TRC.GENERATION = @generation_cntr AND ISA.SUBTYPE = CAST(TRC.SUBTYPE_SCTID AS VARCHAR(20))
LEFT OUTER JOIN #TERMS TRM ON TRM.CONCEPTID = CAST(TRC.SUBTYPE_SCTID AS VARCHAR(20))
LEFT OUTER JOIN #SUBTYPE_CT SCT ON SCT.SUPERTYPE_SCTID = CAST(TRC.SUBTYPE_SCTID AS VARCHAR(20))
LEFT OUTER JOIN #LOINC_MAPS LC ON LC.SCTID = CAST(TRC.SUBTYPE_SCTID AS VARCHAR(20))
WHERE RTS.C_HLEVEL = (@generation_cntr+1)
AND ISA.SUBTYPE IS NOT NULL
AND TRC.SUBTYPE_SCTID IS NOT NULL;


SET @generation_cntr = @generation_cntr+1;

END

/*       Insert the developed metadata from #ROOTS into LABS_METADATA table   */

BEGIN
 

  
INSERT INTO ref.LABS_METADATA WITH (TABLOCK)
(
  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  C_SYNONYM_CD,
  C_VISUALATTRIBUTES,
  C_TOTALNUM,
  C_BASECODE,
  C_METADATAXML,
  C_FACTTABLECOLUMN,
  C_TABLENAME,
  C_COLUMNNAME,
  C_COLUMNDATATYPE,
  C_OPERATOR,
  C_DIMCODE,
  C_COMMENT,
  C_TOOLTIP,
  M_APPLIED_PATH,
  UPDATE_DATE,
  DOWNLOAD_DATE,
  IMPORT_DATE,
  SOURCESYSTEM_CD,
  VALUETYPE_CD,
  M_EXCLUSION_CD,
  FACT_COUNT      
  )
SELECT  C_HLEVEL,
  C_FULLNAME,
  C_NAME,
  MAX(C_SYNONYM_CD),
  MAX(C_VISUALATTRIBUTES),
  0 AS C_TOTALNUM,
  MAX(C_BASECODE),
  MAX(C_METADATAXML),
  MAX(C_FACTTABLECOLUMN),
  MAX(C_TABLENAME),
  MAX(C_COLUMNNAME),
  MAX(C_COLUMNDATATYPE),
  MAX(C_OPERATOR),
  MAX(C_DIMCODE),
  MAX(C_COMMENT),
  MAX(C_TOOLTIP),
  MAX(M_APPLIED_PATH),
  CAST(NULL AS DATE) AS UPDATE_DATE,
  CAST(NULL AS DATE) AS DOWNLOAD_DATE,
  GETDATE() AS IMPORT_DATE,
  'UNebraskaMC' AS SOURCESYSTEM_CD,
  MAX(VALUETYPE_CD),
  MAX(M_EXCLUSION_CD),
  0 AS FACT_COUNT 
  FROM #ROOTS 
  GROUP BY C_HLEVEL,C_FULLNAME,C_NAME

END

/*          Insert C_METADATAXML  into LABS_METADATA from our library on  DEID      */

BEGIN

MERGE INTO ref.LABS_METADATA AS TARGET
USING 
(
SELECT L.C_BASECODE, MAX(M.C_METADATAXML) AS C_METADATAXML
FROM ref.LABS_METADATA L
JOIN DEID.BLUEHERONMETADATA.dbo.METADATAXML_SNAPSHOT M ON M.CONCEPT_CD = L.C_BASECODE
WHERE M.C_METADATAXML IS NOT NULL
GROUP BY L.C_BASECODE
) AS SOURCE
ON (SOURCE.C_BASECODE = TARGET.C_BASECODE)
WHEN MATCHED THEN UPDATE SET TARGET.C_METADATAXML = SOURCE.C_METADATAXML;

END

/*  Add C_BASECODE to tooltip in order to display LOINC/SNOMED code when browsing the client   */

BEGIN

UPDATE ref.LABS_METADATA  SET C_TOOLTIP = CONCAT(C_BASECODE,C_TOOLTIP)
WHERE C_BASECODE LIKE 'LOINC:[1-9]%-[0-9]';

END

/*          Add PROVENANCE data detailing the terminology publication and build dates     */

BEGIN

SET @publication_date = (SELECT MAX(NEBLEX_PUBLICATION_DATE) AS NEBLEX_PUBLICATION_DATE FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);
SET @snomed_date = (SELECT MAX(SNOMED_RELEASE_DATE) AS SNOMED_RELEASE_DATE FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);
SET @loinc_current_version = (SELECT LOINC_CURRENT_VERSION FROM LOINC.dbo.LOINC_CURRENT_PROVENANCE 
                              WHERE LOINC_RELEASE_DATE = (SELECT MAX(LOINC_RELEASE_DATE) FROM LOINC.dbo.LOINC_CURRENT_PROVENANCE));

END

/*      Develop ref.LOINC_TRC from ref.OBSERVABLES_TRC               */

BEGIN 

 EXEC DROP_TABLE 'ref.LOINC_TRC';

SELECT 
CASE WHEN L1.LOINC_CODE IS NOT NULL THEN L1.LOINC_CODE
     ELSE TRY_CONVERT(VARCHAR(20),O.SUPERTYPE_SCTID) END AS SUPERTYPE_SCTID
,CASE WHEN L1.LOINC_CODE IS NOT NULL THEN CONCAT('LOINC:',L1.LOINC_CODE)
     ELSE O.SUPERTYPE_CNCPT END AS SUPERTYPE_CNCPT
,CASE WHEN L1.LOINC_TERM IS NOT NULL THEN L1.LOINC_TERM
     ELSE O.SUPERTYPE_TERM END AS SUPERTYPE_TERM
,CASE WHEN L2.LOINC_CODE IS NOT NULL THEN L2.LOINC_CODE
     ELSE TRY_CONVERT(VARCHAR(20),O.SUBTYPE_SCTID) END AS SUBTYPE_SCTID
,CASE WHEN L2.LOINC_CODE IS NOT NULL THEN CONCAT('LOINC:',L2.LOINC_CODE)
     ELSE O.CONCEPT_CD END AS CONCEPT_CD
,CASE WHEN L2.LOINC_TERM IS NOT NULL THEN L2.LOINC_TERM
     ELSE O.SUBTYPE_TERM END AS SUBTYPE_TERM
, O.GENERATION
INTO ref.LOINC_TRC
FROM ref.SNOMEDCT_TRC O
JOIN (SELECT DISTINCT SUBTYPE_SCTID AS CODE FROM ref.SNOMEDCT_TRC WHERE SUPERTYPE_SCTID='363787002') OBS ON OBS.CODE = O.SUPERTYPE_SCTID 
LEFT OUTER JOIN #LOINC_MAPS L1 ON L1.SCTID = O.SUPERTYPE_SCTID
LEFT OUTER JOIN #LOINC_MAPS L2 ON L2.SCTID = O.SUBTYPE_SCTID

END

/*   Add provenance information  */

BEGIN

SET @publication_date = (SELECT MAX(NEBLEX_PUBLICATION_DATE) AS NEBLEX_PUBLICATION_DATE FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);
SET @snomed_date = (SELECT MAX(SNOMED_RELEASE_DATE) AS SNOMED_RELEASE_DATE FROM SNOMEDCT.dbo.SNOMEDCT_CURRENT_PROVENANCE);
SET @loinc_current_version = (SELECT MAX(LOINC_CURRENT_VERSION) FROM LOINC.dbo.LOINC_CURRENT_PROVENANCE);

INSERT INTO ref.LOINC_TRC
VALUES (0,CONCAT('Build date: ',CONVERT(CHAR,GETDATE())),CONCAT('NEBLEX  publication date:',CONVERT(CHAR(12),@publication_date)),0,CONCAT('SNOMED date: ',CONVERT(CHAR(12),@snomed_date)),CONCAT('LOINC version: ',CONVERT(CHAR(12),@loinc_current_version)),0);

END

/*      Copy finished tables to DEID       */                  

BEGIN
                       
 
--TRC tables will be copied to GPRITSQL02.CRANE_CDM and BLUEHERONDATA after deleting any existing tables of those names

PRINT 'Copying TRC tables to DEID';

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''CRANE_CDM.ref.LOINC_TRC'', ''U'') IS NOT NULL DROP TABLE CRANE_CDM.ref.LOINC_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into CRANE_CDM.ref.LOINC_TRC from GPRITSQL01.CDMV6.ref.LOINC_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into CRANE_CDM.ref.LOINC_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.LOINC_TRC with (nolock);';
exec (@sql_string) AT DEID;

-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONDATA.dbo.LOINC_TRC'', ''U'') IS NOT NULL DROP TABLE BLUEHERONDATA.dbo.LOINC_TRC'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONDATA.dbo.LOINC_TRC from GPRITSQL01.CDMV6.ref.LOINC_TRC;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONDATA.dbo.LOINC_TRC WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.LOINC_TRC with (nolock);';
exec (@sql_string) AT DEID;

--Delete the table LABS_METADATA from DEID.BLUEHERONMETADATA AND COPY THE NEW TABLE FROM CDMV6 to BLUEHERONMETADATA


-- DELETE OLD TABLE
SET @sql_string = 'IF OBJECT_ID(''BLUEHERONMETADATA.dbo.LABS_METADATA'', ''U'') IS NOT NULL DROP TABLE BLUEHERONMETADATA.dbo.LABS_METADATA'; 
exec (@sql_string) AT DEID;
-- COPY NEW TABLE AS EMPTY
SET @sql_string = 'select top 0 * into BLUEHERONMETADATA.dbo.LABS_METADATA from GPRITSQL01.CDMV6.ref.LABS_METADATA;';
exec (@sql_string) AT DEID;
-- COPY DATA INTO NEW TABLE
SET @sql_string = 'insert into BLUEHERONMETADATA.dbo.LABS_METADATA WITH (TABLOCK) select * from GPRITSQL01.CDMV6.ref.LABS_METADATA with (nolock);';
exec (@sql_string) AT DEID;

--load modifier_dimension

PRINT 'Copying SNOMEDCT_METADATA to DEID';

PRINT 'LOAD_MODIFIER_DIM';

SET @sql_string = 'blueherondata.dbo.load_modifier_dim ''BLUEHERONMETADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

--Delete old C_FULLNAMEs from concept_dimension and then load new concept_dimension

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_LAB_RESULTSTRC\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_LAB_RESULTSPATH\%'''
exec (@sql_string) AT DEID;

SET @sql_string = 'DELETE FROM [BlueheronData].[dbo].[CONCEPT_DIMENSION]   WHERE CONCEPT_PATH LIKE ''\i2b2_LAB_RESULTS\PROVENANCE\%'''
exec (@sql_string) AT DEID;

--load concept-dimension 

PRINT 'LOAD_CONCEPT_DIM';

SET @sql_string = 'BLUEHERONDATA.dbo.load_concept_dim ''BLUEHERONMETADATA.dbo.LABS_METADATA'',''BLUEHERONDATA'''
exec (@sql_string) AT DEID;

 --run fact counting on the new metadata table                                                                      

 PRINT 'Run FACT_COUNT';

SET @sql_string = 'BLUEHERONDATA.dbo.fact_count ''BLUEHERONMETADATA.dbo.LABS_METADATA'',''LOINC_TRC'',''1'''
exec (@sql_string) AT DEID;

--Run validation stats on DEID

PRINT 'Update TABLE_ACCESS with stats for fact counts'

UPDATE DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS SET C_NAME = ( 
SELECT CONCAT('Lab results [',COUNT (*),' facts,', COUNT (DISTINCT PATIENT_NUM),' patients]')  --Insert into DEID.BULEUERONMETADATA.dbo.SNOMEDCT_METADATA
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT F
WHERE CONCEPT_CD LIKE 'LOINC:%' AND MODIFIER_CD = '@') WHERE C_FULLNAME = '\i2b2_LAB_RESULTSTRC\';

UPDATE DEID.CRANEUSERSMETA.dbo.TABLE_ACCESS SET C_NAME = ( SELECT C_NAME FROM DEID.BLUEHERONMETADATA.dbo.TABLE_ACCESS WHERE C_FULLNAME = '\i2b2_LAB_RESULTSTRC\' )
 WHERE C_FULLNAME = '\i2b2_LAB_RESULTSTRC\';


PRINT 'Generate patients fact count for build for patient count with data for blood sugar <<LOINC:2339-0:' 

SELECT CONCAT('<<LOINC:32318-8 Glucose level Patient numbers:',TRY_CONVERT(VARCHAR(10),COUNT(DISTINCT PATIENT_NUM)),' Fact count:', TRY_CONVERT(VARCHAR(10),COUNT (*)))
FROM DEID.BLUEHERONDATA.dbo.OBSERVATION_FACT
WHERE CONCEPT_CD IN (SELECT DISTINCT CONCEPT_CD
                     FROM DEID.BLUEHERONDATA.dbo.LOINC_TRC
                     WHERE SUPERTYPE_CNCPT = 'LOINC:32318-8');

END

/* ------------------- */
/*     Terminate       */
/* ------------------- */

BEGIN
    EXEC LOG_TABLE_BUILD_END @proc_build_id, @proc_row_count

RETURN 0

END
